 body {
  background-color: black;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;

  display: grid;
  width: 100%;
  height: 100%;
  margin:0;

  grid-template-areas:
    "head head"
    "nav  main";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 150px 1fr;
}
/* Media query for when width is at smartphone pixel width. */
@media screen and (max-width: 500px) {
  body {
    background-color: black;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas:
      "head"
      "nav"
      "main" ;
      grid-template-rows: 80px 1fr;
      grid-template-columns: 100vw 1fr;
  }
  nav {
    position:relative;
    width: max-content;
    margin: 0;

  }
  main {
    position:absolute;
    left: 50px;
    top: 150px;
    margin: 0;
  }
  .events img{
    width: 70vw;

  }
}

h1 {
  grid-area: head;
  text-align: center;
  vertical-align: center;
  margin: 0;
  color: #000000;
  background-color: rgb(77, 77, 255);
  font-family: "Helvetica", "Arial", sans-serif;
  text-shadow: rgb(255, 255, 255) 2px 2px;
  font-size: 60px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #ff3399;
}

nav {
  grid-area: nav;
  display: inline-block;

  background-color: #ff3399;

  width: 8vw;
  height: 100vh;
  margin: 0;

  padding-right: 0.75rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
}

nav>ul {
  list-style: none;
  padding-left: 0;
}

nav>ul>li {
  padding-bottom: 0.5rem;
}

nav>ul>li:first-child {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-bottom: 1rem;
}

main {
  grid-area: main;
  text-align: center;
  width: 85vw;
  height: 100vh;
}

main.ticket-form {
  text-align: left;
}

main>ul.events {
  text-align: left;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-left: 3rem;
}

main>ul>li>img {
  width: 75rem;
  height: 5rem;
}

main>form {
  color: #ff3399;

  display: inline-flex;
  flex-flow: column wrap;

  padding: 2rem;
}

main>form>label {
  padding: 0;
  margin: 0;
}

p {
  margin: .5rem;
  padding-bottom: 0rem;
  color: white;
  
}

li {
  color: #000000;
}

a:link {
color: #000000;
}

a:visited {
color: #000000;
text-decoration: none;
}

a:hover {
color: #ffffff;
text-decoration: none;
}

a:active {
color: #ffffff;
text-decoration: none;
}

a.event-list:link {
  color: #ff3399;
}
  
a.event-list:visited {
color: #ff3399;
text-decoration: none;
}

a.event-list:hover {
color: #ffffff;
text-decoration: none;
}

a.event-list:active {
color: #ffffff;
text-decoration: none;
}