 body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;

      font-family: "Helvetica", "Arial", sans-serif;
      font-weight: bold;

      background-color: black;
    }

    h1 {
      margin: 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
      text-align: center;

      color: #ff3399;
      background-color: blue;
    }

    h2 {
      text-align: center;
      color: #ff3399;
    }

    nav {
      display: inline-block;

      background-color: #120985;

      width: 8vw;
      height: 100vh;
      margin: 0;

      padding-top: 1rem;
      padding-right: 0.75rem;
      padding-bottom: 1rem;
      padding-left: 0.75rem;
    }

    nav>ul {
      list-style: none;
      padding-left: 0;
    }

    nav>ul>li {
      padding-bottom: 0.5rem;
    }

    nav>ul>li:first-child {
      text-align: center;
      padding-bottom: 1rem;
    }

    main {
      display: inline-block;
      justify-content: center;
      width: 85vw;
      height: 100vh;
    }

    main>ul.events {
      list-style-type: none;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      padding-left: 3rem;
    }

    main>ul>li>img {
      width: 75rem;
      height: 5rem;
    }

    main>area {
      align-content: center;
    }

    main>form {
      color: #ff3399;

      display: inline-flex;
      flex-flow: column wrap;

      padding: 2rem;
    }

    main>form>label {
      padding: 0;
      margin: 0;
    }

    p {
      color: white;
      text-align: center;
    }

    li {
      color: #ff3399;
    }

    a:link {
    color: #ff3399;
    text-decoration: none;
    }

    a:visited {
    color: #ff3399;
    text-decoration: none;
    }

    a:hover {
    color: #ff3399;
    text-decoration: none;
    }

    a:active {
    color: #ff3399;
    text-decoration: none;
    }